@use "../templates/mixins.scss" as Mixins;
@use "../templates/colors.scss" as *;

.LogoSection {
    @include Mixins.Flex(row, flex-start, center, 0rem, nowrap);
    text-wrap: nowrap;
}

.UserSection {
    @include Mixins.Flex(row, flex-end, center, 1rem, nowrap);
}

.Navbar {
    @include Mixins.Flex(row, space-between, center, 1rem, nowrap);
    background-color: $Green;
    padding: 1rem;
    position: sticky;
    color: $White;
    top: 0;
    z-index: 999;

}

.ProfileAvatar {
    max-height: 3rem;
    border-radius: 50rem;
}

.MenuSection,
.Menu {
    @include Mixins.Flex(row, center, center, 2rem, wrap);
    font-size: 1.5rem;
}

.Contact {
    @include Mixins.Flex(row, space-between, center, 0rem, wrap);
    background-color: $Dark;
    color: $White;
    font-weight: 600;
    padding: 1rem;

    span:first-child {
        color: yellow;
    }
}